@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Darker+Grotesque:wght@400;500;600;700;800&family=Lato:wght@300&family=Open+Sans:ital,wght@1,300;1,700&family=Oswald:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Arial;
    color: #503503;
    background-color: #F1CF8F;
}

h2 {
    text-align: center;
    font-weight: bold;
}

#back-button {
    background-color: #5C4314;
    text-decoration: none;
    color: #FFFFFF;
    font-family: Arial;
}

/* header */

header {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#logo {
    color: #503503;
    font-family: Amatic SC;
    font-size: 320%;
    display: inline-block;
    margin: 0;
    text-decoration: none;
    padding-left: 20px;
    float: left;
}

nav {
    font-size: 110%;
    padding: 0;
    margin: 0;
    width: 100%;
    float: right;
}

ul {
    margin: 0;
    padding: 0;
}



#logo,
ul {
    line-height: 70px;
}

header nav a {
    text-decoration: none;
}

header nav li {
    float: right;
    list-style-type: none;
    margin-right: 10px;
    color: #503503;
    padding-left: 20px;
    padding-right: 20px;
}

nav li a {
    color: #503503;
}

nav li a:hover {
    font-weight: bold;
}

.active {
    font-weight: bold;
}

/* main section. Photo by Arina Krasnikova: https: //www.pexels.com/photo/adorable-cats-on-the-floor-carpet-7725961/  */

#main-section {
    height: 1000px;
    width: 100%;
    overflow: hidden;
}




#left-column {
    background: url('../images/cats.jpg') center center no-repeat;
    height: 1000px;
    width: 50%;
    float: left;
}

#right-column {
    height: 1000px;
    width: 50%;
    float: right;
    position: relative;
}

h1 {
    color: #503503;
    font-family: Amatic SC;
    font-size: 700%;
    text-align: center;
    margin-top: 100px;
}

#button {
    background-color: #503503;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
    position: absolute;
    left: 35%;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 120%;
    letter-spacing: 2px;
    font-family: Arial;
}

#button:hover {
    background-color: #5C4314;
}




/* about section */

#about {
    background-color: #503503;
}

#about-text {
    color: #FFFFFF;
    text-align: left;
    width: 50%;
    margin: auto;
    line-height: 25px;
}

/* cats section */

.column {
    float: left;
    width: 30%;
    margin: 30px;
}

.column a {
    text-align: center;
    padding: 20px;
    background-color: #503503;
    color: #FFFFFF;
    display: block;
    border-radius: 5px;
    text-decoration: none;
    margin: 0 auto;
    width: 64%;
}

.column a:hover {
    background-color: #5C4314;
}

.row img {
    height: 400px;
    display: block;
    margin: 0 auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

h3 {
    text-align: center;
    color: #503503;
}

/* contact form */

#contact {
    background-color: #5C4314;
    padding: 20px;
}

form {
    background-color: #503503;
    width: 50%;
    height: 370px;
    margin: 100px auto;
    color: #FFFFFF;
    padding: 50px;
}

form div {
    margin: 0 auto;
    background-color: #503503;
    width: 42%;
    padding: 0;
}

form input,
textarea {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

#submit {
    background-color: #F1CF8F;
    color: #503503;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    font-family: Arial;
    font-weight: bold;
    font-size: 1em;

}

#submit:hover {
    background-color: #F9DDA7;

}

/* donate section */

#donate {
    background-color: #503503;
    width: 100%;
}

#donate-text {
    color: #FFFFFF;
    margin: auto;
    width: 20%;
    line-height: 25px;
    padding: 20px;
}

#donate-text h2 p {
    font-weight: normal;
    font-size: 16px;
    text-align: left;
}

/* footer */

footer {
    height: 100px;
}

footer>ul {
    text-align: center;
}

footer li {
    display: inline;
}

footer i {
    font-size: 170%;
    margin: 2%;
    padding: 2%;
    color: #503503;
}

/* Volunteer form */

#volunteer {
    background-color: #5C4314;
    padding: 20px;
}

form {
    background-color: #503503;
    width: 50%;
    height: 370px;
    margin: 100px auto;
    color: #FFFFFF;
    padding: 50px;
}

form div {
    margin: 0 auto;
    background-color: #503503;
    width: 42%;
    padding: 0;
}

form input,
textarea {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

#submit {
    background-color: #F1CF8F;
    color: #503503;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    font-family: Arial;
    font-weight: bold;
    font-size: 1em;

}

#submit:hover {
    background-color: #F9DDA7;

}